- if !defined? nested_on or nested_on.try(:to_sym) != :<%= attribute.name %>
  .field
    = f.label :<%= attribute.name %>
    = f.select(:<%= type_select_name %>, <%= options_for_type %>)

    .brain-damage-polymorphic-select
    <% types_options.each do |options| %>
      = f.collection_select(:<%= object_select_name %>, <%= options[:model] %>.all, :<%= options[:value] %>, :<%= options[:display] %>)
    <% end %>

- else
  = hidden_field_tag('partial_locals[nested_on]', nested_on)

  - if nested_on.try(:to_sym) == :<%= attribute.name %> and <%= singular_table_name %>.<%= attribute.name %>
    = f.hidden_field(:<%= type_select_name %>, value: <%= singular_table_name %>.<%= type_select_name %> )
    = f.hidden_field(:<%= object_select_name %>, value: <%= singular_table_name %>.<%= object_select_name %> )
