- prefix = "#{prefix}[<%= plural_table_name %>_attributes][0]"
- id = "brain-damage-nested-form-#{bd_id}"

%div{ :id => id }
  .brain-damage-nested-form-prototype
    %a.ui.mini.blue.corner.label.brain-damage-nested-form-remove-button
      %i.remove.icon

    = fields_for <%= singular_table_name %> do |f|
      = r "<%= plural_table_name %>/fields", f: f, prefix: prefix, <%= singular_table_name %>: <%= singular_table_name %>, nested_on: nested_on

    .ui.hidden.divider

  .ui.basic.mini.fluid.button.brain-damage-nested-form-add-button
    %i.add.icon
    Add

  .ui.hidden.divider

  :coffeescript
    new BrainDamage.NestedFormControls "##{id}"
