
.field
  = f.label :name
  = f.text_field :name


.field
  = f.label :title
  = f.text_field :title


  .field
  = f.label :contact_role_id
  = f.collection_select(:contact_role_id, ContactRole.all, :id, :name)


  
