- id = bd_id
- trailing_form ||= false
- area_interests ||= @area_interests

.ui.two.column.grid.brain-damage-single-page-manager{ :id => id }
  .column
    %table.ui.table.brain-damage-table.brain-damage-list
      = r "table.header"

      - area_interests.each do |area_interest|
        = r "table.item", { :area_interest => area_interest }

      - if trailing_form
        = r "table.form", :cancel_button => true

  .column
    = r "form"

  :javascript
    new BrainDamage.SinglePageManager("##{id}");
